<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/score.css">
    <title>ボウリングスコア</title>
</head>
<body>
    <div id="app">
        <table>
            <!-- ヘッダ -->
            <tr>
                <th v-for="(frame, i) in frames" :key="'header' + i" :colspan="frame.selectBoxes.length" style="background-color: aqua;">
                    {{ frame.num }}
                </th>
            </tr>
            <!-- 個別のスコア -->
            <tr>
                <template v-for="(frame, i) in frames">
                    <td v-for="j of frame.selectBoxes.length" :key="'score_separate' + i + j" style="text-align:center">
                        {{ frame.scores[j - 1].toString() }}
                    </td>
                </template>
            </tr>
            <!-- スコア合計値 -->
            <tr id="score_sum">
                <td v-for="(frame, i) in frames" :key="'score_sum' + i" :colspan="frame.selectBoxes.length" style="text-align:center">
                    {{ calcTotalScore(i) }}
                </td>
            </tr>
            <!-- スコア入力用プルダウン -->
            <tr id="score_select">
                <td v-for="(frame, i) in frames" :key="'score_select' + i" :colspan="frame.selectBoxes.length">
                    <template v-for="(select_box, j) in frame.selectBoxes">
                        <label :for="'score_select' + i + '_' + j" >{{ j + 1 }}投目:</label>
                        <br>
                        <select :id="'score_select' + i + '_' + j" @change="changeScore(i, j, $event)" :disabled="isDisabled(i, j)">
                            <option v-for="score in select_box.options" :value="score" :key="'option' + i + '_' + j + '_' + score">
                                {{ score }}
                            </option>
                        </select>
                        <br>
                    </template>
                    <div v-for="(split, j) in frame.splits">
                        <input :id="'split' + i + '_' + j"  type="checkbox" v-model="split.checked"
                            @change="changeSplitCheckbox(i, j)" :disabled="split.disabled" />
                        <label :for="'split' + i + '_' + j" style="font-size: xx-small;">{{ makeSplitLabel(i, j) }}</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/class.js"></script>
    <script src="./js/score.js"></script>
</body>
</html>